<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 home-jumbo">
        <div class="container-fluid py-5 text-white text-center">
            <h1 class="display-5 fw-bold">Foodie</h1>
            <p class="fs-4">Witaj w naszej restauracji. Zamawiaj, co chcesz i ile chcesz, a my przygotujemy to dla Ciebie.</p>
        </div>
    </div>
    <div th:remove="all-but-first">
        <div class="d-flex my-2 col-6 offset-3" th:each="item: ${items}">
            <i class="fas fa-utensils fa-4x"></i>
            <div class="ms-3">
                <h5 th:text="|${item.name}(${item.price}zł)|">Pizza Margherita (25zł)</h5>
                <p th:text="${item.shortDescription}">Krótki opis pizzy margherita, pysznej klasyki na cienkim cieście i rozpływającym się serem.</p>
            </div>
        </div>
        <div class="d-flex my-2 col-6 offset-3">
            <i class="fas fa-utensils fa-4x"></i>
            <div class="ms-3">
                <h5>Pizza Capriciosa (26zł)</h5>
                <p>Krótki opis pizzy margherita, pysznej klasyki na cienkim cieście i rozpływającym się serem.</p>
            </div>
        </div>
        <div class="d-flex my-2 col-6 offset-3">
            <i class="fas fa-utensils fa-4x"></i>
            <div class="ms-3">
                <h5>Pizza Mafioso (27zł)</h5>
                <p>Krótki opis pizzy margherita, pysznej klasyki na cienkim cieście i rozpływającym się serem.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>