<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}">Pizza Margherita</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-lg-8 offset-lg-2">
        <img src="../static/img/pizza-margherita.jpg"
             th:src="@{${item.imgUrl}}"
             class="img-fluid"
             alt="Pizza margherita" />
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-center" th:text="${item.name}">Pizza Margherita</h1>
            <h3 class="text-center" th:text="|Cena ${item.price}zł|">Cena: 25zł</h3>
            <p class="text-justify" th:text="${item.description}">Pizza Margherita to klasyka włoskiej kuchni.
                W naszym wydaniu serwujemy pizzę na cienkim cieście z ręcznie przygotowanym sosem pomidorowym
                i oryginalnym serem mozarella</p>
            <a href="#" th:href="@{/zamowienie/dodaj(itemId=${item.id})}" class="btn btn-primary d-block">
                Dodaj do zamówienia
            </a>
        </div>
    </div>
</div>
</body>
</html>