<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komunikat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 home-jumbo">
        <div class="container-fluid py-5 text-white text-center">
            <div th:if="${message}" th:remove="tag">
                <h1 class="display-3 fw-bold" th:text="${message.title}">Sukces</h1>
                <p th:text="${message.content}">Wszystko poszło zgodnie z planem. Hurra!</p>
            </div>
            <div th:if="!${message}" th:remove="tag">
                <h1 class="display-3 fw-bold">Sukces</h1>
                <p th:text="${message}">Wszystko poszło zgodnie z planem. Hurra!</p>
            </div>
            <a th:href="@{/}">Powrót do strony głównej</a>
        </div>
    </div>
</div>
</body>
</html>