<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 home-jumbo">
        <div class="container-fluid py-5 text-white text-center">
            <h1 class="display-3 fw-bold">Zamówienia</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-2">
                <a href="#" th:href="@{/panel/zamowienia(status=${T(pl.javastart.foodieapp.order.OrderStatus).NEW.name()})}"
                   class="btn btn-warning mx-1">Nowe</a>
                <a href="#" th:href="@{/panel/zamowienia(status=${T(pl.javastart.foodieapp.order.OrderStatus).IN_PROGRESS.name()})}"
                   class="btn btn-primary mx-1">W realizacji</a>
                <a href="#" th:href="@{/panel/zamowienia(status=${T(pl.javastart.foodieapp.order.OrderStatus).COMPLETE.name()})}"
                   class="btn btn-success mx-1">Zrealizowane</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2" th:if="${!orders.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edycja</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="order: ${orders}">
                    <th scope="row" th:text="${order.id}">1</th>
                    <td th:text="${order.address}">ul. Krakowska 43/22, 53-320 Wrocław</td>
                    <td th:text="${order.telephone}">888-777-666</td>
                    <th:block th:switch="${order.status}">
                        <td th:case="${T(pl.javastart.foodieapp.order.OrderStatus).NEW}">Nowe</td>
                        <td th:case="${T(pl.javastart.foodieapp.order.OrderStatus).IN_PROGRESS}">W realizacji</td>
                        <td th:case="${T(pl.javastart.foodieapp.order.OrderStatus).COMPLETE}">Zrealizowane</td>
                    </th:block>
                    <td>
                        <a href="#" class="btn btn-primary">Edytuj</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ul. Jaglana 22/11</td>
                    <td>898-787-676</td>
                    <td>W przygotowaniu</td>
                    <td><a href="#" class="btn btn-primary">Edytuj</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ul Kazimierza Wielkiego, 50-300 Wrocław</td>
                    <td>666-777-888</td>
                    <td>Zakończone</td>
                    <td><a href="#" class="btn btn-primary">Edytuj</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${orders.isEmpty()}" class="text-center">
            <h2>Brak zamówień</h2>
        </div>
    </div>
</div>
</body>
</html>